# RPC client ID
CLIENT_ID="1075993095138713612"

# Default image when no song / if there is no album
DEFAULT_IMG="ytm"

# Icon to display if the song is paused
PAUSE_IMG="paused"

# Icon to display if the song is playing
PLAY_IMG="playing"

# The port of the server
PORT="2134"

# The style of the RPC
# show -> Show when the song is paused VIA the RPC
# hide -> Hides the song when paused (like spotify)
STYLE="hide"

# RPC Formatting
# These control each line of the RPC.
# Each of these strings has parsing done on it, allowing for substituting certain variables.
# 
# Variables:
# %name%   - The name of the song
# %artist% - The artist(s) of the song
# %album%  - The name of the album

# The name of the RPC (agiven you're using BetterDiscord)
TITLE_FORMAT=="%name% by %artist%"
# The first line within the RPC
DETAILS_FORMAT="%name%"
# The second line of the RPC
STATE_FORMAT="by %artist%"
# Displayed if we do not know the details.
UNKNOWN_FORMAT="Unknown"