{
    "extends": [
        "@biased-ts/eslint-config/ProperTS",
        "@biased-ts/eslint-config/ProperDoc"
    ],
    "root": true,
    "parserOptions": {
        "project": [
            "./tsconfig.json",
            "./BetterDiscord/tsconfig.json"
        ]
    }
}